<div class="share public-share">
	<a class="make-your-own" href="/quiz/">{% trans %}Make Your Own{% endtrans %}</a>
	<div class="facebook">
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=true&amp;width=110&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
	</div>
	<div class="twitter">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">{{ _('Tweet') }}</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	
	{% include "shared/_download_day_reminder.html" %}
	<br class="clr" />
</div>