{% extends "layouts/base.html" %}

{% block scripts %}
	<script type="text/javascript">
	
	things.isCollageOwner = {% if is_owner %}true{% else %}false{% endif %};
	things.collageData = {{ collage.images_coords or '{}' }};
	things.snapshotUrl = '{{ collage.snapshot_url() or '' }}';
	things.backgroundData = {{ backgrounds or '[]' }};

	</script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/collage.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var collage = things.Collage($('#collage-canvas'), things.collageData);
			things.snapshotChecker = null;
			collage.draw();
			if(things.collageData['background']) {
				things.setBackground(things.collageData['background']);
			}
		
			if( things.isCollageOwner ) {
				things.BackgroundSelector(things.backgroundData);
				things.snapshotChecker = things.SnapshotChecker();
			}
		});
	</script>
{% endblock %}

{% block page_class %}{{ _('collage') }}{% endblock %}

{% block header %}
	<div id="header">
		<div id="intro-line">{{ _('Firefox 4 presents') }}</div>
		<h1 class="name-title">
        {{ collage.username|escape }}&rsquo;s <span>{{ _('Web') }}</span>
    </h1>
	</div>
{% endblock %}

{% block content %}
	<div id="collage-canvas"></div>

	{% if is_owner %}
		{% include "things/_collage_tools.html" %}
	{% else %}
		{% include "things/_collage_public_tools.html" %}
	{% endif %}
{% endblock %}
