{% extends "layouts/base.html" %}



{% block page_class %}features{% endblock %}
{% block content %}

<div class="yellow-paper">
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h2>{{ _('Learn about Firefox!') }}</h2>
			<p>{{ _('Firefox brings with it a host of new awesome features for you to get the most of your internet.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/">{{ _('See them all!') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-1">
	<img class="obj" src="/static/feature_objects/1755_site_0161.png" alt="{{ _('Space Ship') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Super Speed') }}</h3>
			<p>{{ _('Eat my dust! Firefox bumps your browsing into hyperdrive: leaving all the lesser browsers behind.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/#highperformance">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-2">
  <img class="obj" src="/static/feature_objects/1755_site_0158.png" alt="{{ _('Mask') }}"/>
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Private Browsing') }}</h3>
			<p>{{ _('Be an Internet Ninja! Leave no trace of your travels, online or off.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/#advancedsecurity">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-3">
  <img class="obj" src="/static/feature_objects/1755_site_0159.png" alt="{{ _('Key') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Password Manager') }}</h3>
			<p>{{ _('Password Manager is the Master of the Keys, only it has the password to the deepest dungeons of your online existence.  Let’s keep it that way.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-4">
  <img class="obj" src="/static/feature_objects/1755_site_0160.png" alt="{{ _('Dart') }}"/>
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Awesome Bar') }}</h3>
			<p>{{ _('Infallible memory! Always find that one cool site, for Firefox is augmented with the bar of awesomeness. It remembers exactly what you did, even when you don\'t.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/#madeeasy">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-5">
  <img class="obj" src="/static/feature_objects/1755_site_0162.png" alt="{{ _('Ninja Star') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Anti-Phishing') }}</h3>
			<p>{{ _('Ready to rumble! Firefox armed to the teeth with the latest anti-phishing and anti-malware weapons. Bring it on.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/#advancedsecurity">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-6">
  <img class="obj" src="/static/feature_objects/1755_site_0163.png" alt="{{ _('Clover Leaf') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Session Restore') }}</h3>
			<p>{{ _('All is not lost! You can get back to where you once belonged, just by invoking the magical powers of Session Restore.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-7">
  <img class="obj" src="/static/feature_objects/1755_site_0164.png" alt="{{ _('Bookmark') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('One-Click Bookmarking') }}</h3>
			<p>{{ _('As easy as clapping on a light, it\'s what you’ve been waiting for - the one-click bookmark. Don\'t you have enough to do without having to suffer the indignity of multiple clicks?') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-8">
  <img class="obj" src="/static/feature_objects/1755_site_0165.png" alt="{{ _('Wrench') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Easy Customization') }}</h3>
			<p>{{ _('Wield the tools to make it yours, for you are unique - and your browser can reflect that.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/#powerfulpersonalization">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-9">
  <img class="obj" src="/static/feature_objects/1755_site_0166.png" alt="{{ _('Tabs') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Tabs') }}</h3>
			<p>{{ _('Go ahead and open up all the tabs you want - there\'s never a last call for browsing.') }}</p>
			<a class="more" href="http://www.mozilla.com/firefox/features/">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>

<div class="paper-strip" id="feature-10">
  <img class="obj" src="/static/feature_objects/1755_site_0167.png" alt="{{ _('Hello my name is sticker') }}" />
	<div class="top-cap"></div>
	<div class="main">
		<div class="inner">
			<h3>{{ _('Personas') }}</h3>
			<p>{{ _('Who are you, really? that\'s something you can decide, and decide again, and again. Create a persona for each world you live in. Just don\'t get confused,  or they\'ll make a movie about you.') }}</p>
			<a class="more" href="http://www.getpersonas.com/en-US/">{{ _('Learn more') }}</a>
		</div>
	</div>
	<div class="bottom-cap"></div>
</div>
{% endblock %}