{% extends "layouts/base.html" %}
{% block page_class %}gallery-page{% endblock %}
{% block page_id %}gallery{% endblock %}
{% block content %}
	
	<br class="clr" />
	
	<div id="gallery_wrapper">
		<ul id="gallery-filter">
			<li><a href="/gallery/"><span>{{ _('All') }}</span></a></li>
			<li><a href="/gallery/"><span>{{ _('Favorites') }}</span></a></li>
		</div>
	<div id="gallery_container">
		{% include "things/_gallery_page.html" %}
	</div>
	</div>
	
	<br class="clr" />
	
	<div class="pagination">
		{% include "things/_gallery_navigation.html" %}
	</div>
	
{% endblock %}