{% extends "layouts/base.html" %}
{% block page_class %}gallery-page{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
{% endblock %}
{% block content %}
	<!-- <div class="dropdown">
		<div class="selected"><span>Option 1</span></div>
		<ul>
			<li class="first"><a href="">All</a></li>
			<li><a href="">Option 1</a></li>
			<li><a href="">Option 2</a></li>
			<li><a href="">Option 3</a></li>
			<li><a href="">Option 4</a></li>
		</ul>
		<div class="bottom-cap"></div>
	</div> -->
	
	<br class="clr" />
	
	<div id="gallery_wrapper">
	<div id="gallery_container">
		{% include "things/_gallery_page.html" %}
	</div>
	</div>
	
	<br class="clr" />
	
	<div class="pagination">
		{% include "things/_gallery_navigation.html" %}
	</div>
	
{% endblock %}