{% extends "layouts/base.html" %}

{% block page_class %}home{% endblock %}
{% block content %}
	<div class="paper">
		<div class="top-cap"></div>
		<div class="main">
			<div class="inner">
				<h2>{{ _('Visualizing your unique Web') }}</h2>
        
				<p>{{ _('Everyone\'s Web is a little bit different. We\'re all pushing from the same grab-bag of Internet stuff travel blogs, political commentary, cat videos Ð but it\'s unique choices that create our personal Web. All you have to do to visualize your own unique Web is answer twenty simple questions and voila! We\'ll automatically make you a custom collage. Isn\'t the Web awesome?') }}</p>
        
				<a class="get-started-btn" href="/quiz/">{{ _('Get Started!') }}</a>
        
				<div class="mini-gallery">
					<h3>{{ _('Check out other people\'s Webs:') }}</h3>
					<ul class="gallery">
            {% for feature in featured_collages %}
              <li>
							<a href="/collage/{{ feature.slug }}/"><img src="/static/collages/thumbs_gallery/{{ feature.slug }}.jpg" /></a>
							<h4><a href="/collage/{{ feature.slug }}/">{{ feature.username }}</a></h4>
  						</li>
            {% endfor %}
					</ul>
					<a class="more" href="/gallery/">{{ _('See More') }}</a>
				</div>
			</div>
		</div>
		<div class="bottom-cap"></div>
	</div>
	
	{% include "shared/_share.html" %}
{% endblock %}
