{% extends "layouts/base.html" %}

{% block page_class %}home{% endblock %}
{% block content %}
	<div class="paper">
		<div class="top-cap"></div>
		<div class="main">
			<div class="inner">
				<h2>{{ _('What does your unique Web look like?') }}</h2>
        
				<p>{{ _('Everyone\'s Web is a little bit different. Though we\'re all pulling from the same grab-bag of Internet stuff &#8212; travel blogs, political commentary, cat videos &#8212; it\'s unique choices that create your personal Web. Now you can see what your Web actually looks like. All you have to do is answer 20 simple questions and voila! We\'ll automatically make you a custom collage. Isn\'t the Web awesome?') }}</p>
        
				<a class="get-started-btn" href="/quiz/"><span>{{ _('Get Started!') }}</span></a>
        
				<div class="mini-gallery">
					<h3>{{ _('Check out other people\'s Webs:') }}</h3>
					<ul class="gallery">
            {% for feature in featured_collages %}
              <li>
							<a href="/collage/{{ feature.slug }}/"><img src="/static/collages/thumbs_gallery/{{ feature.slug[:2] }}/{{ feature.slug }}.jpg" /></a>
							<h4><a href="/collage/{{ feature.slug }}/">{{ feature.username }}</a></h4>
  						</li>
            {% endfor %}
					</ul>
					<a class="more" href="/gallery/">{{ _('See More') }}</a>
				</div>
			</div>
		</div>
		<div class="bottom-cap"></div>
	</div>
	
	{% include "shared/_share.html" %}
{% endblock %}
