{% extends "layouts/base.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/quiz.js"></script>
	<script type="text/javascript">
		var things = things || {};
		
		things.quizQuestions = {{ quiz_json or '[]' }};
		things.images = {{ images_json or '[]' }};
		
		$(document).ready(function(){
			things.Quiz();
		});
	</script>
{% endblock %}

{% block content %}
	<div class="paper-small">
		<div class="top-cap"></div>
		<div class="main" id="question-container">
			<div class="inner">
				<div class="question-body-parent">
					<div id="question-body">
						<h2 class="question-num"></h2>
						<p class="question"></p>
						<ul class="answers"></ul>
						<br class="clr" />
					</div>
					<div id="form-body" class="form" style="display:none;">
						<h2>{{ _('Personalize your collage...') }}</h2>
						<div class="input text">
							<label for="name-field">{{ _('Title') }}:</label>
							<input type="text" name="name" id="name-field" />
							<br class="clr" />
						</div>
						<div class="input cbox">
							<input type="checkbox" name="gallery_include" id="gallery-include-field" />
							<label for="gallery-include-field">{{ _('Include my collage in the gallery') }}</label>
							<br class="clr" />
						</div>
						<h2>{{ _('Keep in touch') }}</h2>
						<div class="input text">
							<label for="email-field">{{ _('E-Mail') }}:</label>
							<input type="text" name="email" id="email-field" />
							<br class="clr" />
						</div>
						<div class="input">
							<input type="checkbox" name="download_reminder" id="download-reminder-field" />
							<label for="download-reminder-field">{{ _('Sign-up for our monthly newsletter featuring special Mozilla news, Firefox tips & tricks and more!') }}</label>
							<br class="clr" />
						</div>
					</div>
					
				</div>
				<div class="quiz-nav">
					<a class="back" href="#">{{ _('Go Back') }}</a>
					<a class="skip" href="#">{{ _('Skip') }}</a>
					
					
					<br class="clr" />
					
					<div class="progress-bar">
						<div class="progress">
							<div class="label">
								<span></span>
							</div>
						</div>
					</div>
                    <a class="skipRest" href="#"><span>{{ _('Skip to End') }}</span></a>
                    <a href="#" class="get-your-results-btn">{{ _('Get Your Results') }}</a>
				</div>
			</div>
		</div>
		<div class="bottom-cap"></div>
	</div>
{% endblock %}
