{% extends "layouts/base.html" %}
{% block page_id %}quiz{% endblock %}
{% block scripts %}
<div class="translated-strings">
	<ol id="msg-alphabet">
		<li>{{ _('A') }}</li>
		<li>{{ _('B') }}</li>
		<li>{{ _('C') }}</li>
		<li>{{ _('D') }}</li>
		<li>{{ _('E') }}</li>
		<li>{{ _('F') }}</li>
		<li>{{ _('G') }}</li>
		<li>{{ _('H') }}</li>
		<li>{{ _('I') }}</li>
		<li>{{ _('J') }}</li>
		<li>{{ _('K') }}</li>
		<li>{{ _('L') }}</li>
	</ol>
	<span id="msg-name-required-error">{{ _('Name required, may only use alphanumeric characters.') }}</span>
	<span id="msg-email-required-error">{{ _('Valid email required.') }}</span>
	<span id="msg-privacy-policy-required-error">{{ _( 'I agree to Mozilla\'s use of my email address as described in the <a href="{0}">Privacy Policy</a>' ).format('http://www.mozilla.com/privacy-policy') }}</span>
	<span id="msg-question">{{ _('Question') }}</span>
	<span id="msg-skip">{{ _('Skip') }}</span>
	<ol id="msg-more-to-go">{# L10n: 0 is the number of questions remaining #}
		{% for i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %}
		<li id="msg-more-to-get-{{i}}">{{ ngettext('{0} more to go', '{0} more to go', i).format(i) }}</li>
		{% endfor %}
	</ol>
</div>
	<script type="text/javascript">
		var things = things || {};
		// the questions and images should just be loaded as HTML. this implimentation is confusing.
		things.quizQuestions = {{ quiz_json or '[]' }};
		things.images = {{ images_json or '[]' }};
	</script>
{% endblock %}

{% block content %}
	<div class="paper-small">
		<div class="top-cap"></div>
		<div class="main" id="question-container">
			<div class="inner">
				<div class="question-body-parent">
					<div id="question-body">
						<h2 class="question-num"></h2>
						<p class="question"></p>
						<ul class="answers clearfix"></ul>
						<p class="question-note">{{ _('Your quiz answers are anonymous and we do not store them.') }}</p>
					</div>
					<div id="form-body" class="form" style="display:none;">
						<form method="POST" action="/quiz/">
							<h2>{{ _('Personalize your collage...') }}</h2>
							<div class="input text">
								<label for="name-field">{{ _('Title') }}:</label>
								<input type="text" name="name" id="name-field" />
								<br class="clr" />
							</div>
							<div class="input cbox">
								<input type="checkbox" name="gallery_include" id="gallery-include-field" />
								<label for="gallery-include-field">{{ _('Include my collage in the gallery') }}</label>
								<br class="clr" />
							</div>
							<h2>{{ _('Keep in touch') }}</h2>
							<div class="text">
								<span>{{ _('Sign-up for our monthly newsletter featuring special Mozilla news, Firefox tips & tricks and more!') }}</span>
							</div>
							<div class="input text">
								<label for="email-field">{{ _('E-Mail') }}:</label>
								<input type="text" name="email" id="email-field" />
								<br class="clr" />
							</div>
							<div class="input">
								<input type="checkbox" name="download_reminder" id="download-reminder-field" />{# L10n: {0} is the url to the privacy policy #}
								<label for="download-reminder-field">{{ _('I agree to Mozilla\'s use of my email address as described in the <a href="{0}">Privacy Policy</a>').format('http://www.mozilla.com/privacy-policy') }}</label>
								<br class="clr" />
							</div>
							<div class="input">
								<a class="get-your-results-btn" href="#">
									<span>{{ _('Get Your Results') }}</span>
								</a>
							</div>
						</form>
					</div>
					
				</div>
				<div class="quiz-nav">
					<a class="back" href="#">{{ _('Go Back') }}</a>
					<a class="skip" href="#">{{ _('Skip') }}</a>
					
					
					<br class="clr" />
					
					<div class="progress-bar">
						<div class="progress">
							<div class="label">
								<span></span>
							</div>
						</div>
					</div>
					<a class="skipRest" href="#"><span>{{ _('Skip to End') }}</span></a>
					
				</div>
			</div>
		</div>
		<div class="bottom-cap"></div>
	</div>
{% endblock %}
