* {
	margin: 0;
	padding: 0;
}
html { height: 100%; width:100%; } 
body {
	font-size: 12px;
	line-height: 1.8em;
	background-image: url('../img/bg.png');
	background-color: #c7e0e2;
	background-position: top left;
}
a img {
  border: none;
}

.clr {
  clear: both;
}

h2, h3 {
  color: #d16219;
}

h1 a
{
	display: block;
	height: 80px;
}

h2 {
  font-family: "klavika-web-1","klavika-web-2";
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

#eyebrow {
  width: 100%;
  border-top: 3px solid #666666;
}

#brand {
  position: absolute;
  top: 0px;
  right: 65px;
  display: block;
  width: 118px;
  height: 49px;
  text-indent:-9999px;
  overflow: hidden;
  background-image: url('../img/brand.png');
}

#doc {
  width: 875px;
  margin: 0 auto;
}

#header {
  position: relative;
  overflow: hidden;
  padding: 50px 0 30px 0;
}

#header #intro-line {
  width: 235px;
  height: 57px;
  margin-left: 93px;
  text-indent: -9999px;
  background-image: url('../img/en/mozff4_presents.png');
  background-repeat: no-repeat;
}

#header h1 {
  text-align: center;
  width: 100%;
  line-height: 110px;
  /*height: 110px;*/
  color: white;
  margin: -10px auto 35px auto;
}

#header h1 a, .collage #header h1.name-title {
  text-decoration: none;
  font-weight: bold;
  font-size: 110px;
  font-family: "klavika-web-1","klavika-web-2";
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  color: white;
}

#header .nav {
  list-style-type: none;
  width: 455px;
  margin: 10px auto;
}

#header .nav li {
	display: inline-block;
}

#header .nav a {
  display: block;
  height: 33px;
  color: #fff;
  font-size: 22px;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* give light backgrounds dark header text & logo */
body.none-bg .collage #header .nav a, 
body.ash-bg .collage #header .nav a,
body.bamboo-bg .collage #header .nav a,
body.birch-bg .collage #header .nav a {
    color: #4d4d4d;
}

body.none-bg .collage #header #intro-line,
body.ash-bg .collage #header #intro-line,
body.bamboo-bg .collage #header #intro-line,
body.birch-bg .collage #header #intro-line {
    background-image: url("../img/en/mozff4_presents.png");
}


#header .nav a:hover {
  color: #1b84d2;
}

#header .nav a span {
  min-width: 111px;
  display: block;
  height: 26px;
  padding: 7px 5px 0 14px;
  text-align: center;
}

#header .nav a:hover {
  background-image: url('../img/nav/paper_quiz_right.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#header .nav a:hover span {
  
  background-image: url('../img/nav/paper_quiz_left.png');
  background-repeat: no-repeat;
  background-position: top left;
}

#header .nav #quiz a span {
}

#header .nav #gallery a span {
}

#footer {
  margin-bottom: 130px;
}

.share {
  margin-top: 12px;
}

.share .facebook {
  float: left;
  width: 110px;
  height: 21px;
  padding: 18px 15px 17px 62px;
  margin: 18px 0 0 70px;
  background-image: url('../img/facebook_bg.png');
  background-repeat: no-repeat;
}

.share .twitter {
  float: left;
  width: 110px;
  height: 20px;
  padding: 18px 15px 18px 62px;
  margin: 18px 0 0 10px;
  background-image: url('../img/twitter_bg.png');
  background-repeat: no-repeat;
}

.share .download {
  display: block;
  float: right;
  width: 247px;
  height: 98px;
  margin-right: 45px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('../img/en/download_firefox_sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0px;
}
.share .download:hover {
    background-position: 0 -102px;
}

.share .download-reminder {
  background-image: url('../img/en/download_day_reminder.png');
}

.share .download-reminder:hover {
  background-position: bottom left;
}

#download_popup {
   width: 789px;
   height: 412px;
   background-image: url(../img/download_day_background.png);
   position: absolute;
   z-index: 98;
   display: none;
}

#download_header {
   overflow: hidden;
   margin: 20px 5px 10px 95px;   
}

#download_date {
   float: left;
   width: 300px;
   height: 75px;
   margin: 43px 0 0 10px;
}

#download_firefox_logo {
   float: left;
}

#download_date h1 {
   font-variant: small-caps;
   color: #fff;
   font-size: 36pt;
}

#download_date h3 {
   color: #fff;
   font-size: 19pt;
   font-variant: small-caps;
   margin-top: 10px;
}


#download_copy { 
   font-size: 2em; 
   line-height: 1.25em; 
   font-family: "skolar-regular"; 
   width: 565px; 
   margin: 0 auto; 
}

#download_copy span.footnote { 
   font-size: .75em; 
   padding-left: 10px; 
}

#download_day { 
   text-align: center;
   width: 100%; 
   padding: 20px 0;  
}

#download_form {
   width: 565px;
   margin: 10px auto;
}

#download_form #email_field {
   width: 400px;
   height: 40px;
   padding: 0;
   font-family: "skolar-regular"; 
   font-size: 2em;
   float: left; 
}

#download_form a#form_submit {
   display: block;
   background-color: #fff;
   background-image:url(../img/enter_button_arrow_off.png);
   background-repeat: no-repeat;
   background-position: 110px center;
   width: 117px;
   height: 44px;
   padding-left: 10px;
   margin: 1px 0 0 10px; 
   text-decoration: none;
   line-height: 48px;
   font-size: 28px;
   color: #007dd9;
   float: left; 
}

#download_form a#form_submit:hover {
   background-color: #ffec18;
   background-image:url(../img/enter_button_arrow_on.png);
   color: #000;
}

#download_form_error {
   position: absolute;
   min-width: 132px;
   bottom: 0px;
   height: 31px;
   background-image:url(../img/download_error_arrow.png);
   background-repeat: no-repeat;
   background-position: top center;
   bottom: 115px;
   left: 225px;
}

#download_form_error .error_message {
   background-color: #ffec18;
   font-size: 1.25em;
   width: 100%;
   text-align: center;
   position: absolute;
   bottom: 0;
}

#footer .links {
  margin-top: 40px;
  text-align: center;
}

#footer .links li {
  list-style-type: none;
	display: inline-block;
}

#footer .links li.last {
  margin-right: 0;
}

#footer .links li a {
  color: #fff;
  text-decoration: none;
}

#footer .links .main-links {
  margin: 0 auto;
  width: 382px;
}

#footer .links .main-links li {
  margin-right: 45px;
}

#footer .links .main-links li.last,
#footer .links .legal li.last {
  margin-right: 0;
}

#footer .links .main-links a {
  text-transform: uppercase;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#footer .links .legal {
  width: 110px;
  margin: 0 auto 0 auto;
}

#footer .links .legal li {
  margin-left: 10px;
}

#footer .links .legal a {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
}

/** Home **/
.paper .top-cap {
  width: 876px;
  height: 87px;
  background-image: url('../img/paper_top_cap.png');
  background-position: top center;
}

.paper .bottom-cap {
  width: 876px;
  height: 103px;
  background-image: url('../img/paper_bottom_cap.png');
  background-position: bottom center;
}

.paper .main {
  width: 752px;
  padding: 34px 63px 0 62px;
  margin: 0 0 0 0;
  background-image: url('../img/paper_bg.png');
  background-repeat: repeat-y;
  background-position: top center;
}

.paper .inner {
  margin-top: -65px;
}

.paper h2 {
  text-align: center;
  margin-bottom: 25px;
}
.paper p {
  font-family: "skolar-1","skolar-2";
  line-height: 1.4em;
  font-size: 17px;
}

.paper .get-started-btn {
  display: block;
  margin: 18px auto 18px auto;
  width: 228px;
  height: 55px;
  background: url('../img/en/get_started_sprite.png') no-repeat 0px 0px;
  overflow: hidden;
  text-indent: -9999px;
}
.paper .get-started-btn:hover {
  background: url('../img/en/get_started_sprite.png') no-repeat 0px -65px;
}

.mini-gallery {
  background-image: url('../img/sep.png');
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 20px;
}

.mini-gallery h3 {
  font-family: "klavika-web-1","klavika-web-2";
  margin: 0 0 15px 10px;
}

.mini-gallery a.more {
  display: block;
  float: right;
  margin: 20px 15px 0 0;
  padding-right: 16px;
  background-image: url('../img/grey_arrow_right.png');
  background-repeat: no-repeat;
  background-position: center right;
  color: #257dbe;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.mini-gallery a.more:hover {
  background-image: url('../img/blue_arrow_right.png');
}

/*Gallery*/

.gallery-page #footer .links {
  margin-top: 85px;
}

#gallery_wrapper { 
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.gallery { 
  overflow: hidden; 
}

.gallery li {
  float: left;
  list-style-type: none;
  background-image: url('../img/polaroid.png');
  background-repeat: no-repeat;
  width: 186px;
  height: 171px;
  padding: 5px 11px 12px 12px;
  margin: 0 10px 10px 0;
}

ul.gallery li h4 {
    overflow: hidden;
}

.mini-gallery .gallery li {
  background-image: url('../img/polaroid_lg.png');
  width: 214px;
  height: 195px;
  margin-bottom: 0;
  padding: 8px 13px 12px 13px;
}

.gallery li.last,
.mini-gallery .gallery li.last {
  margin-right: 0;
}

.gallery li h4 a {
  color: #4D4D4D;
  font-family: "klavika-web-1","klavika-web-2";
  font-size: 20px;
  display: block;
  margin-top: 2px;
  padding-left: 4px;

  font-weight: normal;
  text-decoration: none;

  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mini-gallery .gallery li h4 a {
  font-size: 20px;
  font-family:"klavika-web-1","klavika-web-2";
  color: #4d4d4d;
}

.gallery li h4 a:hover {
  background-color: #ffec18;
}

/*Drop Down*/
.dropdown {
  float: left;
  position: relative;
  height: 28px;
  margin: 0 0 12px -7px;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.dropdown .selected {
  padding: 0 16px 0 14px;
  width: 200px;
}

.dropdown:hover .selected {
  background-image: url('../img/dropdown_shadow_top.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.dropdown .selected span {
  display: block;
  padding: 6px 0 3px 9px;
  color: #53a6e3;
  background-image: url('../img/grey_arrow_down.png');
  background-repeat: no-repeat;
  background-position: 174px center;
  background-color: #fff;
}

.dropdown .bottom-cap {
  display: none;
  width: 230px;
  height: 29px;
  background-image: url('../img/dropdown_shadow_bottom.png');
  background-repeat: no-repeat;
}

.dropdown:hover .bottom-cap {
  display: block;
}

.dropdown ul {
  display: none;
  list-style-type: none;
  padding: 0 16px 0 14px;
  width: 200px;
  background-image: url('../img/dropdown_shadow_bg.png');
  background-repeat: repeat-y;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul li.active {
  display: block;
}

.dropdown ul li.first {
  padding-top: 17px;
  background-image: url('../img/dropdown_border.png');
  background-repeat: repeat-x;
  background-position: top left;
}

.dropdown:hover li.active a {
  background-image: none;
}

.dropdown li {
  background-color: #fff;
  padding: 0px 8px 11px 6px;
}

.dropdown li a {
  display: block;
  padding: 2px 0 2px 5px;
  color: #333333;
  text-decoration: none;
}

.dropdown li a:hover {
  color: #333333;
  background-color: #ffec18;
}

/*Pagination*/
.pagination {
  margin-right: 13px;
  margin-top: 12px;
  text-align: center;
}

.pagination .prev,
.pagination .next,
.pagination ol {
  display: inline;
}

.pagination .prev,
.pagination .next {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
}

.pagination .prev {
  background-image: url('../img/white_arrow_left.png');
  background-repeat: no-repeat;
  background-position: center left;
  padding: 0 0 0 14px;
  margin-right: 4px;
}

.pagination .next {
  background-image: url('../img/white_arrow_right.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding: 0 14px 0 0;
  margin-left: 16px;
}
.pagination .pages div {
    display: inline;
}
.pagination .pages a {
  padding: 0 0 0 7px;
  margin: 0 0 0 12px;
  font-size: 7px;
  line-height: 7px;
  list-style-type: none;
  text-indent: -9999px;
  overflow: hidden;
  border: 1px solid #fff;
  vertical-align: text-top;
}

.pagination .pages a span {
  display: none;
}

.pagination .pages a.active,
.pagination .pages a:hover {
  background-color: #fff;
}

/*Quiz page*/
.object_progress { overflow: hidden; display: none;}

.paper-small {
  width: 676px;
  margin: 0 auto;
  font-size: 20px;
}
.paper-small .top-cap {
  width: 676px;
  height: 62px;
  background-image: url('../img/paper_small_top.png');
  background-position: top center;
}

.paper-small .bottom-cap {
  width: 676px;
  height: 67px;
  background-image: url('../img/paper_small_bottom.png');
  background-position: bottom center;
}

.paper-small .main {
  width: 676px;
  padding-top: 1px; /*prevents negative margin from pushing background up*/
  background-image: url('../img/paper_small_bg.png');
  background-repeat: repeat-y;
  background-position: top center;
}

.paper-small .inner {
  padding: 30px 55px 18px 53px;
  margin-top: -30px;
}

#question-body {
  overflow: hidden;
}

.paper-small h2 {
  height: 43px;
  line-height: 43px;
  margin-bottom: 30px;
  font-family:"klavika-web-1","klavika-web-2";
  font-weight: bold;
  color: #d16219;
}
.paper-small .input label {
  font-family: "skolar-1","skolar-2";
  color: #4d4d4d;
}

.paper-small .question {
  font-family: "skolar-1","skolar-2";
	line-height: 1.4em;
  font-size: 19px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
}

.paper-small .answers li {
  list-style-type: none;
  margin-bottom: 5px;
font-family: "skolar-1","skolar-2";
        line-height: 1.4em;
  font-size: 16px;
}

.paper-small .answers li a {
  display: block;
  float: left;
  clear: both;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  padding: 2px 20px 2px 12px;
}

.paper-small .answers li a:hover {
  background-color: #ffec18;
}

.quiz-nav {
  margin-top: 40px;
}

.quiz-nav a.back,
.quiz-nav a.skip, .quiz-nav a.skipRest {
  font-size: 17px;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: #007dd9;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.quiz-nav a.back {
  float: left;
  padding-left: 11px;
  background-image: url('../img/grey_arrow_small_left.png');
  background-position: left center;
}
.quiz-nav a.back:hover {
  background-image: url('../img/blue_arrow_small_left.png');
}
.quiz-nav a.skip {
  float: right;
  padding-right: 11px;
  background-image: url('../img/grey_arrow_small_right.png');
  background-position: right center;
}
.quiz-nav a.skip:hover  {
  background-image: url('../img/blue_arrow_small_right.png');
}

.quiz-nav a.skipRest {
  display: none;
  background-color: #007DD9;
  color: white;
  display: none;
  margin-top: 8px;
  padding: 2px 9px 0px 9px;
  float: right;
}
.quiz-nav a.skipRest span {
  background: url('../img/white_arrow_right.png') no-repeat 100% 2px;
  padding-right: 10px;
}
.quiz-nav a.skipRest:hover span {
    background: url('../img/yellow_arrow_right.png') no-repeat 100% 2px;
}

.quiz-nav .progress-bar {
  margin-top: 12px;
  width: 568px;
  height: 21px;
  background-image: url('../img/progress_bg.png');
  background-repeat: repeat-x;
}

.quiz-nav .progress {
  position: relative;
  width: 0%;
  height: 21px;
  background-image: url('../img/progress_bar.png');
  background-repeat: repeat-x;
  background-position: bottom left;
}

.quiz-nav .progress .label {
  position: absolute;
  top: 20px;
  right: -59px; /*Specific to en*/
  width: 118px; /*Specific to en*/
  padding-top: 10px;
  background-image: url('../img/blue_box_sprout.png');
  background-position: top center;
  background-repeat: no-repeat;
}

.quiz-nav .progress .label span {
font-family: "klavika-web-1","klavika-web-2";
  display: block;
  padding: 3px 0;
  background-color: #007dd9;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
	height: 19px;
}

.get-your-results-btn {
    background: url('../img/en/get_your_results_sprite.png') no-repeat 0px 0px;
    display: none;
    width: 285px;
    height: 58px;
    display: none;
    margin: 18px auto;
    overflow: hidden;
    text-indent: -9999px;
}
.get-your-results-btn:hover {
    background-position: 0px -55px;
}

/*Form*/
.form .input {
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.form  .text label {
  float: left;
  z-index: 1;
  width: 75px;
  padding-top: 5px;
  position: relative;
}

.form .text input {
  position: relative;
  float: left;
  font-size: 14px;
  z-index: 1;
  width: 300px;
  padding: 5px;
}

.form .input .error {
   background-image: url("../img/error_sprout.png");
   background-position: 50% 1px;
   background-repeat: no-repeat;
   display: block;
   left: 10%;
   margin-top: -5px;
   padding-top: 1px;
   position: relative;
   width: 400px;
   z-index: 10;
}

.form .input .error span {
  display: block;
  margin-top: 9px;
  padding: 2px 8px;
  z-index: 11;
  text-align: center;
  background-color: #ffec18;
  color: #000;
  font-family: "klavika-web-1","klavika-web-2";
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

/*Collage*/
.collage #header {
  padding-bottom: 0px;
  overflow: visible;
}

.collage #header h1.name-title {
  font-family: "klavika-web-1","klavika-web-2";
  overflow: visible;
  background-image: none;
  text-indent: 0;
  width: auto;
  line-height: 55px;
  overflow: none;
  font-size: 68px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
}

.collage #header #intro-line {
  background-image: url('../img/en/mozff4_presents_white.png');

}

.collage .background-selector,
.collage a.change-background {
  position: absolute;
  left: 800px;
  top: 100px;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 17px;
  color: #007dd9;
  text-transform: uppercase;
  text-align: center;
  z-index: 98;
}

.collage a.change-background {
  display: block;
  width: 117px;
  height: 46px;
  padding: 3px 12px 0;
  margin: 0 auto 0 75px;
  background-image: url('../img/change_background_bg.png');
  text-decoration: none;
  text-transform: uppercase;

}

.collage a.change-background:hover {
  background-position: left bottom;
  color: #fff;
}

.collage .background-selector {
  width: 147px;
  height: 616px;
  margin-left: 73px;
  padding: 8px 0 0 0;
  background-image: url('../img/background_selector_bg.png');
}

.collage .background-selector .slide-wrapper {
  overflow: hidden;
  position: relative;
  margin: 0px 0 0 15px;
  width: 112px;
  height: 532px;
}

.collage .background-selector ul {
  position: absolute;
}

.collage .background-selector li {
  display: block;
  list-style-type: none;
  margin: 7px 0 0 0;
  padding: 5px;
  width: 102px;
  height: 116px;
  background-color: #000;
  cursor: pointer;
}

.collage .background-selector li:hover {
  background-color: #ffde00;
}

.collage .background-selector .up,
.collage .background-selector .down {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center top;
}

.collage .background-selector .down {
  margin-top: 6px;
}

.collage .background-selector .up:hover,
.collage .background-selector .down:hover {
  background-position: center bottom;
}

.collage .background-selector .up {
  background-image: url('../img/arrow_up.png');
}

.collage .background-selector .down {
  background-image: url('../img/arrow_down.png');
}


.collage #collage-canvas {
  position: relative;
  height: 600px;
  padding-bottom: 15px;
}

.collage #collage-canvas .obj {
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.collage #collage-canvas .sticky {
  position: absolute;
  width: 357px;
  height: 328px;
  z-index: 98;
}

.collage #collage-canvas .sticky-top
{
	height: 100px;
  background: url('../img/sticky_top.png') top left no-repeat;
}

.collage #collage-canvas .sticky-middle
{
	height: 300px;
	background: url('../img/sticky_middle.png') top left repeat-y;
}

.collage #collage-canvas .sticky-bottom
{
	height: 100px;
  background: url('../img/sticky_bottom.png') top left no-repeat;
}

.collage #collage-canvas .sticky.flip {
  background-image: url('../img/sticky_flipped_tall.png');
  background-repeat: no-repeat;
  height: 360px !important;
}
.collage #collage-canvas .sticky.flip .sticky-top, .collage #collage-canvas .sticky.flip .sticky-middle, .collage #collage-canvas .sticky.flip .sticky-bottom {
    background-image: none;
}


.collage #collage-canvas .sticky .inner {
	position: absolute;
  padding: 40px 50px 20px 70px;
}

.collage #collage-canvas .sticky.flip .inner {
    padding-left: 35px;
    padding-right: 55px;
}

.collage #collage-canvas .sticky .close {
  position: absolute;
	z-index: 2;
  top: 10px;
  right: 30px;
  text-decoration: none;
  color: #c6bd9f; 
}

.collage #collage-canvas .sticky.flip .close {
  left: 30px;
  right: auto;
}

.collage #collage-canvas .sticky h3 {
  font-family: "klavika-web-1","klavika-web-2";
  line-height: 40px;
  font-size: 35px;
  padding-bottom: 20px;
  text-align: center;
}

.collage #collage-canvas .sticky p {
font-family: "skolar-1","skolar-2";
	line-height: 1.4em;
  font-size: 17px;
}

.collage .url {
  float: left;
  width: 510px;
  height: 43px;
  padding: 18px 0 0 30px;
  margin-left: 45px;
  background-image: url('../img/url_paper_bg.png');
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  text-transform: uppercase;
  color: #4a4949;
}

.collage .url span,
.collage .url a {
 float: left; 
}

.collage .url span {
  display: block;
  padding-left: 0px;
  padding-right: 25px;
}

.collage .url a.short-url {
  padding-right: 20px;
  text-transform: none;
  color: #d16219;
  font-family: Times;/*skolar*/
  letter-spacing: 0;
  font-size: 22px;
}
.collage .url #copy-wrapper {
  z-index: 2;
}
.collage .url div#copy-btn {
  color: #007dd9;
  cursor: pointer;
  float: left;
  height: 31px;
  width: 46px;
  line-height: 35px;
  margin-top: -8px;
  text-decoration: none;
  padding-right: 16px; 
  background-image: url('../img/grey_arrow_right.png');
  background-position: 100% 5px;
  background-repeat: no-repeat;

}

.collage .url div#copy-btn:hover {
    color: #007dd9;
    background-image: url('../img/blue_arrow_right.png');
    background-position: 100% 7px;
}
.collage .url div.copy-wrapper:hover {
    
}

.collage .snapshot {
  display: block;
  float: right;
  width: 207px;
  height: 45px;
  margin-right: 30px;
  background-image: url('../img/snapshot_bg.png');
  text-transform: uppercase;
  color: #4a4949;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
}

.collage .snapshot span {
  display: block;
  padding-top: 9px;
  text-align: center;
}

.collage .snapshot:hover {
  background-position: bottom left;
  color: #fff;
}

.collage .snapshot.disabled {
  opacity: 0.5;
  cursor: default;
}

.collage .snapshot.disabled:hover {
  background-position: top left;
  color: #4a4949;
}

.collage .your-share .facebook,
.collage .your-share .twitter {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #25a0fd;
  text-decoration: none;
}

.collage .your-share .facebook:hover,
.collage .your-share .twitter:hover {
  background-position: left bottom;
  color: #fff;
}

.collage .public-share .facebook {
  margin-left: 18px;
}

.collage .public-share .make-your-own {
  float: left;
  display: block;
  width: 98px;
  height: 98px;
  margin-left: 40px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url('../img/en/make_your_own.png');
}

.collage .public-share .make-your-own:hover {
  background-position: bottom left;
}

/** Collage bg**/
.ash-bg {
  background-image: url('../backgrounds/full/ash.jpg');
}

.bamboo-bg {
  background-image: url('../backgrounds/full/bamboo.jpg');
}

.birch-bg {
  background-image: url('../backgrounds/full/birch.jpg');
}

.cedar-bg {
  background-image: url('../backgrounds/full/cedar.jpg');
}

.cement-bg {
  background-image: url('../backgrounds/full/cement.jpg');
}

.deck-bg {
  background-image: url('../backgrounds/full/deck.jpg');
}

.grass-bg {
  background-image: url('../backgrounds/full/grass.jpg');
}

.maple-bg {
  background-image: url('../backgrounds/full/maple.jpg');
}

.oak-bg {
  background-image: url('../backgrounds/full/oak.jpg');
}

.steel-bg {
  background-image: url('../backgrounds/full/steel.jpg');
}

.walnut-bg {
  background-image: url('../backgrounds/full/walnut.jpg');
}

.teak-bg {
  background-image: url('../backgrounds/full/teak.jpg');
}

.zinc-bg {
  background-image: url('../backgrounds/full/zinc.jpg');
}

/*Features*/
.yellow-paper {
  width: 684px;
  margin: 0 auto;
}

.yellow-paper .top-cap {
  height: 117px;
  background-image: url('../img/features/yellow_paper_top.png');
  background-repeat: repeat-y;
  background-position: top center;
}

.yellow-paper .main {
  background-image: url('../img/features/yellow_paper_bg.png');
  background-repeat: repeat-y;
  background-position: top center;
  padding: 1px 32px 0 56px; /*1 px top padding prevents negative margin from pushing background up*/
  
}

.yellow-paper .main .inner {
  margin-top: -80px;
}

.yellow-paper .bottom-cap {
  background-image: url('../img/features/yellow_paper_bottom.png');
  background-repeat: no-repeat;
  background-position: top center;
  
  height: 76px;
}

.yellow-paper h2 {
  margin-bottom: 22px;
}

.yellow-paper p {
font-family: "skolar-1","skolar-2";
line-height: 1.4em;
  font-size: 20px;
  line-height: 1.2em;
  padding-right: 35px;
}

.yellow-paper a.more {
font-family: "skolar-1","skolar-2";
  float: right;
  margin-top: 12px;
  color: #007dd9;
  font-size: 22px;
  text-decoration: none;
}

.paper-strip {
font-family: "skolar-1","skolar-2";
line-height: 2.0em;
  position: relative;
  width: 646px;
  margin: 0 auto 12px auto;
}

.paper-strip .obj {
  position: absolute;
}

.paper-strip .top-cap {
  height: 35px;
  background-image: url('../img/features/paper_strip_top.png');
  background-repeat: repeat-y;
  background-position: top center;
}

.paper-strip .main {
  background-image: url('../img/features/paper_strip_bg.png');
  background-repeat: repeat-y;
  background-position: top center;
  padding-top:1px;
}

.paper-strip .main .inner {
  margin-top: -15px;
  padding: 0 20px 0 20px;
}

.paper-strip .bottom-cap {
  background-image: url('../img/features/paper_strip_bottom.png');
  background-repeat: no-repeat;
  background-position: top center;
  height: 54px;
}

.paper-strip h3 {
  font-family: "klavika-web-1","klavika-web-2";
  font-size: 24px;
  margin-bottom: 10px;
}

.paper-strip p {
  font-size: 18px;
}

.paper-strip a.more {
  float: right;
  padding-right: 10px;
  background-image: url('../img/grey_arrow_small_right.png');
  background-repeat: no-repeat;
  background-position: right center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: #007dd9;
}

/*FPO object on feature*/
.features #feature-1 {
  padding-top: 24px;
}

.features #feature-1 .obj {
  top: 0;
  left: 13px;
}
.features #feature-2 .obj {
  top: 0;
  left: -100px;
}
.features #feature-3 .obj {
  top: 15px;
  left: 33px;
}
.features #feature-4 .obj {
  top: -25px;
  left: 13px;
}
.features #feature-5 .obj {
  top: 10px;
  left: -33px;
}
.features #feature-6 .obj {
  top: 0;
  left: -53px;
}
.features #feature-7 .obj {
  top: -18px;
  left: 13px;
}
.features #feature-8 .obj {
  top: 38px;
  left: -82px;
}
.features #feature-9 .obj {
  top: 25px;
  left: 5px;
}
.features #feature-10 .obj {
  top:25px;
  left: -60px;
}




.features .paper-strip .inner {
  padding-left: 102px;
}
