
<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset="utf-8">
        <title>{% block fulltitle %}{% block title %}{% endblock %} {{ _('Webify Me') }} {% endblock %}</title>
		{% block metatags %}
		<meta name="title" content="{{ _('Webify Me: Your Internet Visualized') }}" /> 
		<meta name="description" content="{{ _('Everyone\'s Internet is a little bit different. What does your internet look like? Create your own Webify Me collage') }}" />
		{% endblock%}
		{% block ogtags %}
		<meta property="og:title" content="{{ _('Webify Me: Your Internet Visualized') }}" />
		<meta property="og:desc" content="{{ _('Everyone\'s Internet is a little bit different. What does your internet look like? Create your own Webify Me collage') }}" />
		<meta property="og:image" content="https://webifyme.org/static/img/mozff.png" />
		<meta property="og:url" content="{{ site_url }}" />
		<meta property="og:site_name" content="{{ _('Webify Me') }}" />
		<meta property="og:type" content="website" />
		{% endblock %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css">
		<link rel="shortcut icon" href="{{ STATIC_URL }}/img/favicon.ico" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css">
    <![endif]-->
		<script type="text/javascript" src="https://use.typekit.com/sxi3cin.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        {% if _('custom-css') and _('custom-css') != 'custom-css' %}
        <style type="text/css">
          {# L10n: You can use this string to put custom CSS rules to fix any design issues.  Leave empty or untranslated if you don't need it. #}
          {{ _('custom-css') }}
        </style>
        {% endif %}

	</head>
	
	<body class="{% block page_class %}{% endblock %} none-bg" id="{% block page_id %}webifyme{% endblock %}">
        <noscript>
          <div id="noscript-message">
            <b>{{ _('Webify Me') }}</b> {{ _('works best with JavaScript turned on! <a href="http://support.mozilla.com/kb/JavaScript"> How do I do that?</a>') }}
          </div>
        </noscript>
		<div id="eyebrow"></div>
		<div id="doc">
			{% block header %}
				<div id="header">
					<a id="brand" href="http://mozilla.com">Mozilla</a>
					<div id="intro-line">{{ _('Mozilla Firefox <span>presents</span>') }}</div>
					<h1><a href="/">{{ _('Webify Me!') }}</a></h1>
					<ul class="nav">
                      <li id="quiz"><a href="/{{ LANG }}/quiz/"><span>{{ _('Take The Quiz') }}</span></a></li>
                      <li id="gallery"><a href="/{{ LANG }}/gallery/"><span>{{ _('See The Gallery') }}</span></a></li>
                      <li id="learn"><a href="/{{ LANG }}/features/"><span>{{ _('Learn About Firefox') }}</span></a></li>
					</ul>
					<br class="clr" />
				</div>
			{% endblock %}
			
			{% block content %}{% endblock %}
			
			{% block footer %}
				<div id="footer">
					<div class="links">
						<ul class="main-links">
							<li><a href="http://www.mozilla.com/en-US/firefox/features/">{{ _('Firefox Features') }}</a></li>
							<li><a href="http://www.mozilla.org/">{{ _('Mozilla') }}</a></li>
							<li class="last"><a href="http://www.mozilla.com/newsletter/">{{ _('Newsletter Sign-up') }}</a></li>
						</ul>
						<br class="clr" />
						<ul class="legal">
							<li><a target="_blank" href="http://www.mozilla.com/en-US/about/legal.html">{{ _('Legal') }}</a></li>
							<li><a target="_blank" href="http://www.mozilla.com/en-US/privacy-policy.html">{{ _('Privacy Policy') }}</a></li>
						</ul>
					</div>
				</div>
			{% endblock %}

		</div>
		<script type="text/javascript" src="{{ STATIC_URL }}js/webifyme_common.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script type="text/javascript">
		//<![CDATA[
		var _tag=new WebTrends();
		_tag.dcsGetId();
		//]]>
		</script>
		<script type="text/javascript">
		//<![CDATA[
		_tag.dcsCustom=function(){
		// Add custom parameters here.
		//_tag.DCSext.param_name=param_value;
		}
		_tag.dcsCollect();
		//]]>
		</script>
		<noscript>
		<div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcslhbe0dvz5bdfe0wrlru4ci_4r5h/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.webifyme.org"/></div>
		</noscript>
		<!-- END OF SmartSource Data Collector TAG -->
		{% block scripts %}{%  endblock %}
	</body>
</html>
