
<div id="download_popup">
  <div class="divContainer">
    <div id="download_header">
      <img src="/static/img/download_firefox_logo.png" id="download_firefox_logo" />
      <div id="download_date">
	<h1 class="tk-ff-meta-web-pro-condensed">{{ _('Download Day') }}</h1>
	<h3 class="tk-ff-meta-web-pro-condensed">{{ _('March 1st, 2011') }}</h3>
      </div>
    </div>
    <div id="download_copy">
      <p class="tk-skolar">{{ _('Enter your email to get a Firefox 4 download reminder on Download Day!*') }}   <span class="footnote">{{ _('*(You can also sign up at the end of the quiz.)') }}</span></p>
    </div>
    <div id="download_form">
      <form action="#" method="post">
	<div id="download_form_error">
	  <div class="error_message">
	    <p>{{ _('Email Required!') }}</p>
	  </div>
	</div>
	<input type="text" name="email" value="" id="email_field" />
	<a href="#" id="form_submit">{{ _('ENTER') }}</a>
      </form>
    </div>
  </div>
</div>
