<div class="share">
	<div class="facebook">
      <iframe src="http://www.facebook.com/plugins/like.php?{{ current_url }}&amp;layout=button_count&amp;show_faces=true&amp;width=130&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
	</div>
	<div class="twitter">
		<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ _('What does your internet look like? Create your own Webify Me collage') }}" data-via="firefox">{{ _('Tweet') }}</a>
	</div>
	{% include "shared/_download_firefox.html" %}
	
	<br class="clr" />
</div>
